@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
}

body {
    font-family: Lato;
}

body p {
    font-size: 11pt;
    line-height: 10pt;
}

.job-group-container {
    display: flex;
}

.job-group {
    padding: 5px 5px 0 5px;
    margin-right: 10px;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.augur-queue {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.augur-queue-container {
    flex-direction: column;
    display: flex;
}

.augur-detail {
    display: inline-block
}

.job {
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
}

.waiting {
    background-color: #F5F5F5;
    border-color: #666666;
}

.executing {
    background-color: #DAE8FC;
    border-color: #6C8EBF;
}

.waiting-in-execution-queue {
    background-color: #FFF2CC;
    border-color: #D6B656;
}

.executed {
    background-color: #D5E8D4;
    border-color: #82B366;
}

.failed {
    background-color: #F8CECC;
    border-color: #B85450;
}

.triggered {
    background-color: #E1D5E7;
    border-color: #9673A6;
}

.job-group-state-container{
    display: flex;
}

.job-group-state {
    width: 10px;
    height: auto;
    margin: 10px 10px 10px 0;
    border-style: solid;
    border-width: 1px;
}

.jg-waiting {
    background-color: #F5F5F5;
    border-color: #666666;
}

.jg-executing {
    background-color: #DAE8FC;
    border-color: #6C8EBF;
}

.jg-executed {
    background-color: #D5E8D4;
    border-color: #82B366;
}

.jg-triggered {
    background-color: #E1D5E7;
    border-color: #9673A6;
}

.jg-failed {
    background-color: #F8CECC;
    border-color: #B85450;
}

.execution-queue {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 5px 10px 10px;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.ex-job-container {
    display: flex;
}

.ex-job {
    padding: 5px;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
}

.execution-queue-container {
    flex-direction: column;
    display: flex;
}

.empty {
    background-color: #F5F5F5;
    color: #666666;
    border-style: none;
}

.body-container{
    display: flex;
    flex-direction: row;
}

.left-container {
    margin-right: 10px;
    width: 500px;
    overflow: hidden;
}

.main-container {
    width: 100%;
}

.activity-container {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;
    border-style: solid;
    border-color: black;
    width: 476px;
}

.activity-item-head {
    display: flex;
}

.activity-item-ts {
    width: 80px;
}

.activity-item-message {
    font-weight: bold;
}

.activity-item:not(:last-child) {
    border-bottom: 2px solid black;
}

.json-pretty {
    overflow: hidden;
}
